.employees-list {
  transform: translateY(30px);
  opacity: 0;
  padding-top: 10%;

  & > ul > li {
    padding-left: 0px;
  }

  &__item {
    font-family: @PTSans;
    list-style: none;
    padding-left: 20px;
  }

  &__info {
    line-height: 18px;
    padding: 0px 0px 10px 22px;
    position: relative;
  }

  &__name {
    color: @blue;
    display: block;
    font-size: 18px;
    font-weight: bold;
  }

  &__position {
    color: @grey;
    display: block;
    font-size: 13px;
  }

  &__collapse {
    left: 0px;
    position: absolute;
    top: 0px;
    width: 13px;
    height: 13px;

    .line-horz,
    .line-vert {
      background: @lightRed;
      display: block;
      position: absolute;
    }

    .line-vert {
      height: 100%;
      left: 50%;
      margin-left: -1px;
      top: 0;
      width: 2px;
      transition: all .3s;
    }

    .line-horz {
      height: 2px;
      left: 0px;
      margin-top: -1px;
      top: 50%;
      width: 100%;
    }

    &--close {
      .line-vert {
        transform: rotate(90deg);
      }
    }

  }

}
